/* Universal Styling */

*   {
    box-sizing: border-box;
}


body    {
    font-family: helvetica, tahoma, verdana, sans-serif;
    color: #000;
    background: url("../images/forest-bg-2000px.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #C2C2CA;
    height: 100vh;
}

p   {
    font-size: 18px;
    line-height: 2;
}

a   {
    color: #5A6632;
    text-decoration: none;
}

a:visited {
    color: #684B27;
}

a:hover  {
    color: #D8AA2B;
}

.content    {
    z-index: 5;
    text-align: left;
    margin: 20px 10px 0 10%;
    padding: 0 20px 20px;
    max-width: 960px;
    max-height: 100%;
}

.title    {
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    z-index: 5;
}

.title-row  {
    width: 100%;
    display: table;
    clear: both;
}

#navbar {
    background: #4D4D4D;
    width: 60px;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
    min-height: 500px;
    color: #fff;
}

.logo   {
    font-weight:bold;
    text-decoration: none;
    text-align: center;
    background: transparent;
    display: block;
    padding: 8px 0;
    width: auto;
    height: 100%;
    margin: auto;
}

nav {
    display: block;
    text-align: center;
    position: absolute;
    top: 25%;
    width: 100%;
}

#navbar ul  {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
}

#navbar i   {
    width: 55px;
    height: auto;
    margin: 5px auto;
}

#navbar a.active, #navbar a:hover   {
    color: #D8AA2B;
    text-decoration: none;
}

#navbar a   {
    font-size: 22px;
    color: #AAA;
    display: block;
    line-height: 51px;
    height: 51px;
    position: relative;
    cursor: pointer;
}

#nav_bar nav a:before {
    position: absolute;
    bottom: 0;
    display: block;
    text-align: center;
    opacity: 0;
}

#navbar nav a:hover *:before   {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    width: 100%;
}

#navbar nav a:hover .fa-home:before {
    content: "HOME";
}

#navbar nav a:hover .fa-user-circle:before   {
    content: "ABOUT";
}

#navbar nav a:hover .fa-code:before   {
    content: "SKILLS";
}

#navbar nav a:hover .fa-folder-open:before   {
    content: "WORK";
}

#navbar nav a:hover .fa-feather-alt:before   {
    content: "CONTACT";
}



/* Home Page Styling */

#title-home {
    float:right;
}

#homeTag    {
    float: right;
    font-size: 40px;
    z-index: 5;
}

.fog    {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fog-img    {
    position: absolute;
    height: 100vh;
    width: 300vw;
    z-index: 1;
}

#fog-img-1  {
    background: url("../images/fog-1.png");
    background-repeat: repeat-x;
    background-position: center center;
    background-size: contain;

    -webkit-animation: sideScroll 60s linear infinite;
    -moz-animation: sideScroll 60s linear infinite;
    -ms-animation: sideScroll 60s linear infinite;
    -o-animation: sideScroll 60s linear infinite;
    animation: sideScroll 60s linear infinite;
}

#fog-img-2  {
    background: url("../images/fog-2.png");
    background-repeat: repeat-x;
    background-position: center center;
    background-size: contain;

    -webkit-animation: sideScroll 30s linear infinite;
    -moz-animation: sideScroll 30s linear infinite;
    -ms-animation: sideScroll 30s linear infinite;
    -o-animation: sideScroll 30s linear infinite;
    animation: sideScroll 30s linear infinite;
}



/* About Me Page Styling */

#aboutMe    {
    width: 100%;
    margin: 50px auto;
    text-align: left;
    font-size: 16px;
    line-height: 2em;
    background: rgba(255, 255, 255, .5);
    border-radius: 20px;
    padding: 20px;
}



/* Skills Page Styling */

#skills  {
    margin: 50px auto;
    background: rgba(255, 255, 255, .5);
    border-radius: 20px;
    padding: 20px;
}

#skills p    {
    font-size: 16px;
    line-height: 2em;
    margin-bottom: 10px;
}

.skills-list p  {
    font-weight: bold;
    line-height: 2em;
}

.doc-links     {
    font-size: 20px;
}

.skill-title   {
    font-weight: bold;
    margin: 5px 0px;
    font-size: 28px;
    line-height: 2em;
}

.dev-list {
    width: 50%;
    float: left;
    margin-bottom: 50px;
}

.skills-list li::before  {
    content: "\27A4";
    color: #5A6632;
    margin-right: 5px;
    line-height: 1.5em;
}

.skills-list::after{
    display: block;
    clear: both;
}

hr  {
    border-color: rgba(0, 0, 0, .25);
    margin: 50px 0 20px;
}



/* Portfolio Page Styling */

.project    {
    width: 48%;
    margin-bottom: 50px;
    background: rgba(255, 255, 255, .5);
    padding: 1px;
    border-radius: 20px;
}

.project-left   {
    float: left;
}

.project-right  {
    float: right;
}

.row-break  {
    display: block;
    clear: both;
    width: 100%;
}

#title-work {
    margin-bottom: 30px;
}

.project-img    {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
}

.project-info   {
    text-align: left;
    padding: 20px;
}

.project-info p {
    line-height: 1.2em;
    margin-bottom: 20px;
}

.title-project  {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.project-sum   {
    text-align: left;
    width: 50%;
    float: right;
}

.project-head   {
    font-weight: bold;
}

#seeMore    {
    text-align: center;
    margin: 0 auto 20px;
}

#seeMore button {
    font-size: 20px;
    background: #684B27;
    color: #FFF;
    border: #FFF 2px solid;
    border-radius: 15px;
    outline: none;
}

#seeMore button:hover   {
    background: #D8AA2B;
    cursor: pointer;
}



/* Contact Page Styling */

#contact-details    {
    margin: 50px auto 0;
    padding: 20px;
    text-align: center;
    width: 50%;
    font-size: 18px;
    background: rgba(255, 255, 255, .5);
    border-radius: 20px;
}

#contact-details p  {
    margin-bottom: 20px;
}



/* Responsive Style Changes for all elements on all pages */

@media screen and (max-width: 960px)   {

    body    {
        background-image: url("../images/forest-bg-1000px.jpg");
    }

    .content    {
        margin: 70px auto;
    }

    .subtitle   {
        line-height: 1.2em;
    }

    #navbar {
        width: 100%;
        height: 60px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        min-height: 0;
        border-right: none;
    }

    .logo   {
        float: left;
        padding: 0px 8px;
        margin-right: 20px;
    }

    nav {
        width: auto;
        position: absolute;
        left: 30%;
        float: left;
        overflow: hidden;
        text-align: center;
        height: 60px;
        top: 0;
        margin-top: 0;
    }

    nav a   {
        float: left;
    }

    #navbar ul  {
        width: auto;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 60px;
        line-height: 60px;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;
        float: right;
    }

    #navbar ul li   {
        float: right;
        height: 60px;
        line-height: 60px;
        margin: 0 10px;
    }

}

@media screen and (max-width: 840px)    {

    .project    {
        width: 80%;
        margin: 50px auto;
    }

    .project-left, .project-right   {
        float: none;
    }

}

@media screen and (max-width: 640px)    {

    nav {
        position: absolute;
        left: 25%;
    }

    #navbar ul li   {
        line-height: 60px;
        margin: 0;
    }

    p   {
        font-size: 16px;
        line-height: 1.5em;
    }

    .title    {
        font-size: 70px;
    }

    #homeTag    {
        font-size: 30px;
    }

    .project    {
        width: 100%;
        margin: 50px auto;
    }

    .project-info p {
        margin-bottom: 12px;
    }

    #contact-details    {
        font-size: 14px;
        margin-top: 30px;
    }

    #fog-img-1  {
        animation: sideScroll 30s linear infinite;
    }

    #fog-img-2  {
        animation: sideScroll 10s linear infinite;
    }

}

@media screen and (max-width: 500px)   {

    #navbar ul  {
        width: 0;
        display: none;
    }

    nav {
        position: absolute;
        left: 20%;
    }

    .title    {
        font-size: 50px;
    }

    .title-project  {
        font-size: 30px;
    }

    .project-info p {
        margin-bottom: 10px;
    }

    #homeTag    {
        font-size: 20px;
    }

    #contact-details    {
        width: 75%;
    }

}

@media screen and (max-width: 360px)   {

    .project-info p   {
        font-size: 14px;
    }

    .title {
        font-size: 40px;
    }

    .title-project  {
        font-size: 24px;
    }

    .subtitle   {
        font-size: 16px;
    }

    #contact-details {
        width: 100%;
    }

    #navbar i   {
        width: 45px;
    }

}



/* Animations */

/* Fade in */

@keyframes fadeIn {

    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    
    0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
}

@-moz-keyframes fadeIn {
    
    0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
}

@-ms-keyframes fadeIn {
    
    0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
}

@-o-keyframes fadeIn {
    
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

/* Fade in with vertical motion */

@keyframes fadeUp {

    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeUp {
    
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes fadeUp {
    
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}

@-ms-keyframes fadeUp {
    
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}

@-o-keyframes fadeUp {
    
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}

/* Grow */

@keyframes grow {

    0% {
        transform: scale3d(1, 1, 1);
      }
    
      100% {
          transform: scale3d(1.1, 1.1, 1.1);
      }
}

@-webkit-keyframes grow {

    0% {
        transform: scale3d(1, 1, 1);
      }
    
      100% {
        transform: scale3d(1.1, 1.1, 1.1);
      }
}

@-moz-keyframes grow {

    0% {
        transform: scale3d(1, 1, 1);
      }
    
      100% {
        transform: scale3d(1.1, 1.1, 1.1);
      }
}
  
@-ms-keyframes grow {

    0% {
        transform: scale3d(1, 1, 1);
      }
    
      100% {
        transform: scale3d(1.1, 1.1, 1.1);
      }
}

@-o-keyframes grow {

    0% {
      transform: scale3d(1, 1, 1);
    }
  
    100% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
}

/* Side Scroll */

@keyframes sideScroll {

    0%  {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-200vw, 0, 0)
    }
}

@-webkit-keyframes sideScroll {

    0%  {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-200vw, 0, 0)
    }

}

@-moz-keyframes sideScroll {

    0%  {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-200vw, 0, 0)
    }

}

@-ms-keyframes sideScroll {

    0%  {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-200vw, 0, 0)
    }

}

@-o-keyframes sideScroll {

    0%  {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-200vw, 0, 0)
    }

}

.fadeIn {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -ms-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;

    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;

    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;

    animation-fill-mode: both;
    
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}

.fadeUp {
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
    
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;

    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;

    animation-fill-mode: both;
    
    -webkit-animation-name: fadeUp;
    -moz-animation-name: fadeUp;
    -ms-animation-name: fadeUp;
    -o-animation-name: fadeUp;
    animation-name: fadeUp;
}

.grow:hover {

    -webkit-animation-duration: .2s;
    -moz-animation-duration: .2s;
    -ms-animation-duration: .2s;
    -o-animation-duration: .2s;
    animation-duration: .2s;

    animation-fill-mode: both;

    -webkit-animation-name: grow;
    -moz-animation-name: grow;
    -ms-animation-name: grow;
    -o-animation-name: grow;
    animation-name: grow;
}